<form method="post"
      action="{{ path('app_lien_delete', {'id': lien.id}) }}"
      onsubmit="return confirm('Confirmer la suppression de ce lien ?');"
      style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lien.id) }}">
    <button class="btn btn-danger" type="submit">Supprimer</button>
</form>