{% extends 'base.html.twig' %}

{% block title %}Modifier un lien{% endblock %}

{% block body %}
    <h1>Modifier le lien</h1>

    <p>Modifie les informations du lien puis enregistre les changements.</p>

    {{ include('lien/_form.html.twig', { button_label: 'Mettre à jour' }) }}
    
    <br>

    <a href="{{ path('app_lien_index') }}" class="btn btn-secondary">
        ← Retour à la liste
    </a>
{% endblock %}
